body.dark { background: rgb(71, 71, 71); }
body.dark main {
    background: #303030;
    color: rgb(216, 209, 189);
}
body.dark #contents a { color: rgb(123, 147, 255); }
body.dark ::-webkit-scrollbar       { background: black; }
body.dark ::-webkit-scrollbar-track { background: #131313; }
body.dark ::-webkit-scrollbar-thumb { background: rgb(56, 56, 56); }

body.dark .Narou .chapter_title {
    color: #757575;
}

body.dark .Kakuyomu .widget-toc-episode-datePublished {
    display: block;
    text-align: right;
    color: rgb(216, 209, 189);
    text-decoration: none;
}

body.dark .menu-trigger {
    position: relative;
    width: 3rem;
    height: 3rem;
    background: rgb(56, 56, 56);
    border: none;
    appearance: none;
    cursor: pointer;
}
body.dark .menu-trigger:hover { background: rgb(56, 56, 56); }

body.dark .TxtMiru .chapter_title,
body.dark .Narou .subtitles li.chapter, 
body.dark .Narou .p-eplist__chapter-title,
body.dark .Kakuyomu .subtitles li.chapter {
    color: #d1cfcf;
    background-color: #555045be;
}
body.dark .Narou .subtitles li, 
body.dark .Narou .p-eplist__sublist,
body.dark .Kakuyomu .subtitles li  {
    border-right : 1px solid #555045be
}

body.dark a.txtmiru_pager,
body.dark a.c-pager__item
{
    color: rgb(45, 56, 100) !important;
}